.card-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 14rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.66rem;
    letter-spacing: 0.07rem;
    color:  hsl(278, 68%, 11%);
}

.card-form__input {
    height: 1.9rem;
    width: 100%;
    border: 0.1rem solid rgb(216, 216, 216);
    border-radius: 0.25rem;
    margin-top: 0.125rem;
    margin-bottom: 1.1rem;
    transition: border-color 100ms;
}

.card-form__input:focus {
    border-color: rgb(122, 122, 122);
    outline: none;
}

.card-form__input:hover {
    border-color: rgb(122, 122, 122);
}

.card-form__input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
} 

.card-form__input_md {
    min-width: 3rem;
    width: 45%;
}

.card-form__submit {
    height: 1.9rem;
    border-radius: 0.25rem;
    border: none;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    transition: background-color 200ms;
}

.card-form__submit:hover {
    background-color: hsl(279, 68%, 20%);
}

.c {
    background-color: aqua;
}

.b {
    background-color: bisque;
    width:50%;
    
}